body{
  background-color:#e9ecef
}
.mainContent{
  flex: 1 1 auto;
  background-color:white;
  padding:20px;
  margin-left:max(10vw, 30px);
  margin-right:max(10vw, 30px);
}
.mainContent>ol{
  padding:0
}
li.saladList{
  display:flow-root;
  margin:0;
  padding:0;
}

li button{
  float:right;
}

li label{
  margin:0;
  padding-left:0.5rem;
  padding-bottom:0.5rem;
}
ul{
  margin:10px;
  padding:0;
  list-style:none;
}
.price{
  float:right;
  margin:8px;
}